
body{
    margin-left: 0px;
    margin-right: 0px;
}
.div_video{
    width: 100%;
    height: 350px;
}

.conteiner_bilhetes{
    display: flex;
    flex-direction: row;
    place-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3%;
    margin-left: 100px;
    margin-right: 100px;
}

.informacoes_bilhete{
    height: 77%;
    z-index: 2;
    padding:10px 5%;
    display: flex;
    flex-direction: column;


}
.bilhete{
    position: relative;
    min-height: 400px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.imagem_ticket{
    position: absolute;
    width: 100%;
    height: 100%;
}

.tipo_de_bilhete{
    /* background: aquamarine; */
    line-height:1.5;
    width: 61%;
    margin-left: 20%;
}

.numero_dias{
    margin: 0px;
    text-align: center;
}

.informacao_preco_adultos{
    width: 45%;
    height: 125px;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
}
.informacao_preco_criancas{
    width: 45%;
    margin-left: 6%;
    margin-right: 6%;
    height: 125px;
    display: flex;
    flex-direction: column;

}

.informacao{
    display: flex;
    flex-direction: row;
    margin-top: 60px;

}

.btn_comprar{
    width: auto;
    cursor: pointer;
    margin-top: 10px;
}
.div_botao_comprar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.op_compra input{
    width: 70%;
}

.op_compra{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div_op_btn{
    height: 23%;
    z-index: 2;
    padding:10px 10%;
    margin-left: 10px;
    margin-right: 5px;
}

.div_bilhete_botao{
    display: flex;
    flex-direction: column;
    width: 264px;
    margin-right: 8px;

}

.label_adulto{
    width: 100%;
    text-align: center;
}
.label_criancas{
    width: 100%;
    text-align: center;
}

.online{
    border: 2px solid #942709;
    border-radius: 7px;
    margin-bottom: 5px;
    display: flex;
}
.park{
    border: 2px solid #942709;
    border-radius: 7px;
    display: flex;
}

.opcoes_compra{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.opcoes_compra label{
    width: 100%;
    text-align: center;
}


.titulo_bilhetes{
    height: 30px;
    width: 264px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.div_titulo{
    display: flex;
    justify-content: center;
}

.div_ndias{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.i_dias{
    width: 50%;
}

.label_dias{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem_centro{
    width: 100%;
    height: auto;
    max-height: 470px;
    /* height: 450px; */
}

.carrinho_de_compras{
    cursor: pointer;
}

#menu_extra_1{
    cursor: pointer;
}
#bilheteira{
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------ */
/* |                                                                                                     |*/
/* |                                         PARA DISPOSITIVOS MÓVEIS                                    |*/
/* |                                                                                                     |*/
/* ------------------------------------------------------------------------------------------------------ */


/*                                          FALTA ALTERAR A IMAGEM                                  */

@media only screen and (max-width: 900px)
{
    .conteiner_bilhetes{
        margin-left: 75px;
        margin-right: 75px;
        justify-content: center;
    }
    .informacao{
        margin-top: 55px;
    }


}


@media only screen and (max-width: 693px)
{
    .conteiner_bilhetes{
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
    }
    .informacao{
        margin-top: 50px;
    }
 

}

@media only screen and (max-width: 500px)
{
    .conteiner_bilhetes{
        margin-left: 30px;
        margin-right: 30px;
        justify-content: center;
    }
    #i1{
        display: none;
    }  

}
@media only screen and (max-width: 300px)
{
    .conteiner_bilhetes{
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;
    }
    .informacao{
        margin-top: 35px;
    }
}

@media only screen and (max-width: 300px)
{
    .conteiner_bilhetes{
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;
    }
    .informacao{
        margin-top: 20x;
    }
   
}

