#body1
{
    margin:0;
    padding:0;
    padding-top: 60px;
    background-color: rgb(0,0,255);
}

#body2
{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    flex-wrap: wrap;
}

.mostrar
{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
}

#principal{
	display: flex;
	flex-direction: column;
}

.texto
{
   color:#ffffff;
   float:left;
   padding-top:30px;
   width:40%;
   margin-left:10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size:19px;
}

.titulo
{
    font-size:30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto.tematico
{
    color:#5e5e5e;
}

.titulo.tematico
{
    color:#5e5e5e;
}

.imagem_aquatico
{
    float: right;
    width:400px;
    height: 300px;
    padding-top:30px;
    padding-bottom:30px;
    margin-right:10px;
   /* margin: 0 auto;*/
    display:block;
}

.imagens
{
    /*margin:16px 0;*/
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.datatema
{
color:#5e5e5e;
}

@media only screen and (max-width: 800px)
{
	.imagem_aquatico{
		float: none;
		margin: 0 auto;
	}
	
	.texto{
		width: -webkit-fill-available;
	}
}

