.slide_img {
  vertical-align: middle;
  width:100%;
  height: 100%;
}

#dot_div{
  position: absolute;
  bottom: 0;
  z-index: 3;
}

#main_section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*---------------------------------------------------*/
.slideshow_principal {
  width: 100%;        /*largura da imagem*/
  height: 450px;       /*altura da imagem*/
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
}

.ponto_off {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.ponto_on {
  background-color: #717171;
}

#ant{
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100px;
  left: 0;
}

#next{
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100px;
  right: 0;
}
/*---------------------------------------------------*/

/* Fading animation */
.fadein {
  animation-name: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  from {opacity: 0.4} 
  to {opacity: 1}
}

.fadeinsetas {
  animation-name: fadein;
  animation-duration: 1s;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
}

@keyframes fadeout {
  from {opacity: 1} 
  to {opacity: 0.4}
}